a {
    text-decoration: none;
    color: var(--clr-primary);
}

.display-flex {
    display: flex;
}

.block {
    display: block;
}

/* Adjusting the .nav-links li to match BEM */
.navbar__item {
    display: flex;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
   align-items: center;
    overflow: hidden;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-bg-color);
}

.navbar__links {
    list-style: none;
    display: flex;
}

.navbar__hamburger {
    display: none;
    cursor: pointer;
}

.navbar__hamburger-line {
    width: 25px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 5px;
}
.swatch__info{
    color: var(--primary-text-color);
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    overflow: hidden;
  }
  
  .card__title {
    font-size: 20px;
    padding: 20px 15px;
    margin: 0;
    border-bottom: 1px solid #eee;
  }
  
  .card__description {
    padding: 15px;
    font-size: 16px;
    margin: 0;
  }
  
  .card__uses {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border: 0;
    font-size: 16px;
  }
  /* .side-nav { */
    /* float: left; */
    /* width: 200px; */
  /* } */
  
 
/* typography */
.typography_heading{
    margin-top: 2%;
    margin-bottom: 2%;
}
.typography__row {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
 
  .content_spacing{
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 32px;

}
  
  .typography__level,
  .typography__size,
  .typography__weight {
    margin-right: 16px;
  }
  .typography__table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .typography__head-row {
    background-color: var(--umber-color);
    color: var(--primary-text-color);
  }
  
  .typography__head-cell,
  .typography__cell {
    padding: 8px;
    border: 1px solid #726e6e;
  }
  .typograohy_alphabets{
    background-color: #fff;
    border: 1px solid;
    border-radius: 12px;
  }

 
    
  ul.spacing-text__list {
    list-style-position: inside;
}
.spacing-text {
    margin-left: 16%;
}
.Utility-classes__Margin{
    display: flex;
    justify-content: space-around;
}
.Utility-classes.l-p-5 {
    background-color: #fff;
    border: 1px solid;
    border-radius: 12px;
}
table, th, td {
    border:1px solid black;
    padding: 12px;
  }

  /* containers css */
  .breakpoint-table__table {
    width: 100%;
    border-collapse: collapse;
}

.breakpoint-table__thead {
    background-color: #f5f5f5;
}

.breakpoint-table__header, .breakpoint-table__data {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.breakpoint-table__row:nth-child(even) {
    background-color: #f2f2f2;
}

.container-example__title {
    margin: 20px 0 10px;
}

.container-example__box {
    background-color: #e0e0e0;
    color: #333;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.container-example__box--sm,
.container-example__box--lg,
.container-example__box--xl,
.container-example__box--xxl {
    margin: auto; /* Center align the div */
}

.container-example__box--sm {
    max-width: 540px;
}

.container-example__box--lg {
    max-width: 960px;
}

.container-example__box--xl {
    max-width: 1140px;
}

.container-example__box--xxl {
    max-width: 1320px;
}
.css-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.css-table__head {
    background-color: #f9f9f9;
}

.css-table__header, 
.css-table__data {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.css-table__body tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.Introduction{
    width: 33%;
}

.code-snippet {
    position: relative;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .code-snippet__code {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 10px; /* Spacing between the code and the button */
  }
  
  .code-snippet__button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
  }
  .breadcrumbs {
    font-family: Arial, sans-serif; /* Example font */
  }
  
  .breadcrumbs__list {
    list-style: none;
    padding: 0;
  }
  
  .breadcrumbs__item {
    display: inline; /* Display items inline */
  }
  
  .breadcrumbs__link {
    color: #0275d8; /* Example color for links */
    text-decoration: none;
  }
  
  .breadcrumbs__separator {
    margin: 0 5px; /* Spacing around separators */
    color: #6c757d; /* Example color for separator */
  }
  .code-snippet__button {
    padding: 8px 16px;
    background-color:var(--accent-color);
    color:  var(--primary-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
  }
  
/* Mobile Styles */

@media (min-width: 576px)
 {
    .content{
        margin-top: 0;
        width: 91%;
        padding:45px;
    }
         .spacing__text-align {
    text-align: center;
 }
}

@media (min-width: 549px)
 {
    .content{
    
        padding:45px;
    }
    
}
@media (min-width: 525px)
 {
    .content_spacing {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 32px;
    }
    .spacing-text {
      margin-left: 0;
        padding: 21px;
    }
          .spacing__text-align {
    text-align: center;
    margin-top: 32px;
 }
}


@media (min-width: 699px){

    .container, .container-sm {
        max-width: 100%
    }
    .content {
        margin-top: 0;
        width: 98%;
        padding: 39px;
    }
           .spacing__text-align {
    text-align: center;
    margin-top: 69px;
 }
    
}

@media (max-width: 768px) {
    .navbar__links {
        flex-direction: column;
        width: 100%;
        text-align: center;
        /* display: none; */
        z-index: 9999;
        background-color: var(--primary-bg-color);
    }
    ul.navbar__links.toggle-display.navbar__mobile.navbar__links--open {
        display: none;
    }
    ul.navbar__links.toggle-display.navbar__mobile {
        display: none;
    }
    .navbar__hamburger {
        display: block;
    }

    /* Using BEM for 'open' state */
    .navbar__links--open {
        display: flex;
    }
    .side-nav {
        display: none; /* default state */
        flex-direction: column;
    }

    .side-nav--open {
        display: block;
        background-color: var(--primary-bg-color);
    }
    ul.navbar__links.toggle-display.navbar__display{
        display: block !important;
        margin: 0 0 12px 0;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-bg-color);
        height: 45px;
    }
    .primary-side-nav {
        display: none;
    }
           .spacing__text-align {
    text-align: center;
    margin-top: 69px;
 }
}


.side-nav--open {
    transform: translateX(0);
    width: 100%;
}

@media (min-width: 1140px) {
    .side-nav {
        display: block;
        width: 250px;
        position: fixed;
        top: 85px;
        min-height: 1000px;
        left: 0;
        z-index: 1;
        background-color: var(--primary-bg-color);
    }

    .navbar__links--open, .side-nav--open {
        display: block;
    }
    .primary-side-nav {
        display: none;
    }
    .main-content{
        display: flex;
        /* height: calc(177vh - 50px);
    width: 100%; */
    }
    .content{
        width: 50%;
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-top: 32px;
        }
        .content__main{
            width: 63%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 32px;
        }
        .spacing-text {
            margin-left: 16%;
        }
        .content_spacing {
            width: 62%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 32px;
        }
         .spacing__text-align {
    text-align: center;
    margin-bottom:51px;
    margin-top:0;
 }
}

/* @media (min-width: 863px) {
.side-nav{
    display: none;
}

} */
/* Hover state for side navigation links */
.side-nav__link:hover {
    color: var(--accent-color);
    text-decoration: underline; 
}
ul.navbar__links.toggle-display.navbar__display {
    display: none;
}


/* Active state for side navigation links */
.side-nav__link--active {
    color: var( --active-color) !important; 
}
