a {
    text-decoration: none;
    color: var(--clr-primary);
}

.display-flex {
    display: flex;
}

.block {
    display: block;
}

/* Adjusting the .nav-links li to match BEM */
.navbar__item {
    display: flex;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg-color);
}

.navbar__links {
    list-style: none;
    display: flex;
}

.navbar__hamburger {
    display: none;
    cursor: pointer;
}

.navbar__hamburger-line {
    width: 25px;
    height: 3px;
    background-color: var(--clr-secondary);
    margin: 5px;
}
.swatch__info{
    color: var(--primary-text-color);
}

/* typography */
.typography_heading{
    margin: 2%;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar__links {
        position: absolute;
        right: 0;
        top: 8vh;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
    }
    .navbar__hamburger {
        display: block;
    }

    /* Using BEM for 'open' state */
    .navbar__links--open {
        display: flex;
    }
    .side-nav {
        display: none; /* default state */
        flex-direction: column;
    }

    .side-nav--open {
        display: block;
        position: absolute;
        top: 7rem;
    }

    .primary-side-nav {
        display: none;
    }
}


.side-nav--open {
    transform: translateX(0);
}

@media (min-width: 1140px) {
    .side-nav {
        display: block;
        flex-direction: column;
        background-color: var(--primary-bg-color);
        width: 20%;
    }

    .navbar__links--open, .side-nav--open {
        display: block;
    }
    .primary-side-nav {
        display: none;
    }
}
/* Hover state for side navigation links */
.side-nav__link:hover {
    color: var(--accent-color);
    text-decoration: underline; 
}

/* Active state for side navigation links */
.side-nav__link--active {
    color: var( --active-color) !important; 
    
}