a {
    text-decoration: none;
    color: var(--clr-primary);
}

.display-flex {
    display: flex;
}

.block {
    display: block;
}

/* Adjusting the .nav-links li to match BEM */
.navbar__item {
    display: flex;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__links {
    list-style: none;
    display: flex;
}

.navbar__hamburger {
    display: none;
    cursor: pointer;
}

.navbar__hamburger-line {
    width: 25px;
    height: 3px;
    background-color: var(--clr-secondary);
    margin: 5px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar__links {
        position: absolute;
        right: 0;
        top: 8vh;
        flex-direction: column;
        width: 100%;
        text-align: center;
        display: none;
    }
    .navbar__hamburger {
        display: block;
    }

    /* Using BEM for 'open' state */
    .navbar__links--open {
        display: flex;
    }
    .side-nav {
        display: none; /* default state */
        flex-direction: column;
    }

    .side-nav--open {
        display: block;
        position: absolute;
        top: 7rem;
    }

    .primary-side-nav {
        display: none;
    }
}

/* .side-nav {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
} */

/* Modifier for open state of side-nav */
.side-nav--open {
    transform: translateX(0);
}

@media (min-width: 1140px) {
    .side-nav {
        display: block;
        flex-direction: column;
    }

    .navbar__links--open, .side-nav--open {
        display: block;
    }
}
