/* variables */
:root{
    --clr-primary: #000;
    --clr-secondary: #333333;
    --clr-accent: #333333;
    --clr-light: #CCCCCC;
    --clr-white: #fff;
}
/* css reset */
*{
    box-sizing: border-box;
}