/* variables */
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color:#000; 
    --primary-bg-color: #f5c6b5; 
    --accent-color: #FF7F50;
    --links-color:#f4eae1;
    --active-color: #ff4404 !important;
    --neutral-color:  #f9c9b7;
    --umber-color:#635147;
    --white-bg:#fff;
    
}
:root {
    overscroll-behavior: none;
  }
/* Utility class for colors */
.u-text-umber { color: var(--umber-color); }
.u-bg-umber { background-color: var(--umber-color); }
.u-text-primary { color: var(--primary-text-color); }
.u-bg-alabaster { background-color: var(--links-color); }
.u-bg-coral { background-color: var(--accent-color); }
.u-bg-neutral{background-color: var(--neutral-color);}
.u-secondary text{color: var(--secondary-text-color);}g
.u-primary-bg-color{background-color: var( --primary-bg-color);}
.u-cards-bg-color{background-color: var(--white);}

/* typography */

:root{
    /* font-families */
    --heading-font:"Cormorant Garamond", serif;
    --body-font:"Roboto", sans-serif;
}
:root{
    /* font-sizes */
    --heading-1:3rem;
    --heading-2:1.5rem;
    --heading-3:2rem;
    --body-text:16px;
}
:root{
    /* font-weights */
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
}
:root{
    /* line-heights */
    --heading-line-height:1.2;
    --body-line-height:1.4;
}
:root{
    --heading-letter-spacing:0.02em;
    --body-letter-spaing:0.002em;
}
:root {
    overscroll-behavior: none;
  }
/* utility classes */
/* font-families */
.u-ff-heading{
    font-family:var(--heading-font) ;
}
.u-ff-body{
    font-family: var(--body-font);
}
/* font-sizes */
.u-fontsize-large{
    font-size: var( --heading-1);
}
.u-fontsize-regular{
    font-size: var(--heading-2);
}
.u-fontsize-small{
    font-size: var(--heading-3);
}
.u-body-text{
    font-size: var(--body-text);
}
/* font-weights */
.u-fw-200{font-weight: var(--fw-200);}
.u-fw-300{font-weight: var(--fw-300);}
.u-fw-400{font-weight: var(--fw-400);}
.u-fw-500{font-weight: var(--fw-500);}
.u-fw-700{font-weight: var(--fw-700);}
.u-fw-800{font-weight: var(--fw-800);}
.u-fw-900{font-weight: var(--fw-900);}
/* line height */
.u-lh{
    line-height: var(--heading-line-height);
}
.u-lb{
    line-height: var(--body-line-height);
}
/* letter spacing */
.u-lhs{
    letter-spacing: var(--heading-letter-spacing);
}
u.hbs{
    letter-spacing: var(--body-letter-spaing);
}
/* utilities classes for spacing */

.l-m-0{
    margin: 0;
}
.l-m-1{
    margin: 1rem;
}
.l-m-2{
    margin: 1.25rem;
}
.l-m-3{
    margin: 1.5rem;
}
.l-m-4{
    margin: 2rem;
}
.l-m-5{
    margin: 2.5rem;
}
/* Margin tops */

.l-mt-0{
    margin-top: 0;
}
.l-mt-1{
    margin-top: 1rem;
}
.l-mt-2{
    margin-top: 1.25rem;
}
.l-mt-3{
    margin-top: 1.5rem;
}
.l-mt-4{
    margin-top: 2rem;
}
.l-mt-5{
    margin-top: 2.5rem;
}

/* Margin bottom */
.l-mb-0{
    margin-bottom: 0;
}
.l-mb-1{
    margin-bottom: 1rem;
}
.l-mb-2{
    margin-bottom: 1.25rem;
}
.l-mb-3{
    margin-bottom: 1.5rem;
}
.l-mb-4{
    margin-bottom: 2rem;
}
.l-mb-5{
    margin-bottom: 2.5rem;
}
/* Margin left */
.l-ml-0{
    margin-left: 0;
}
.l-ml-1{
    margin-left: 1rem;
}
.l-ml-2{
    margin-left: 1.25rem;
}
.l-ml-3{
    margin-left: 1.5rem;
}
.l-ml-4{
    margin-left: 2rem;
}
.l-ml-5{
    margin-left: 2.5rem;
}
/* Margin right */
.l-mr-0{
    margin-right: 0;
}
.l-mr-1{
    margin-right: 1rem;
}
.l-mr-2{
    margin-right: 1.25rem;
}
.l-mr-3{
    margin-right: 1.5rem;
}
.l-mr-4{
    margin-right: 2rem;
}
.l-mr-5{
    margin-right: 2.5rem;
}
/* margins for left right */
.l-mx-0{
    margin-left: 0;
    margin-right: 0;
}
.l-mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.l-mx-2{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.l-mx-3{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.l-mx-4{
    margin-left: 2rem;
    margin-right: 2rem;
}
.l-mx-5{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.l-mx-auto{
    margin-left: auto;
    margin-right: auto;
}
/* margins for top and bottom */
.l-my-0{
    margin-top: 0;
    margin-bottom: 0;
}
.l-my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.l-my-2{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.l-my-3{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.l-my-4{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.l-my-5{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* margin auto */
.l-m-auto{
    margin: auto;
}

.l-p-0{
    padding: 0;
}
.l-p-1{
    padding: 1rem;
}
.l-p-2{
    padding: 1.25rem;
}
.l-p-3{
    padding: 1.5rem;
}
.l-p-4{
 padding: 2rem;
}
.l-p-5{
 padding: 2.5rem;
}
/* padding top */
.l-pt-0{
    padding-top: 0;
}
.l-pt-1{
    padding-top: 1rem;
}
.l-pt-2{
    padding-top: 1.25rem;
}
.l-pt-3{
    padding-top: 1.5rem;
}
.l-pt-4{
 padding-top: 2rem;
}
.l-pt-5{
 padding-top: 2.5rem;
}

/* padding bottom */
.l-pb-0{
    padding-bottom: 0;
}
.l-pb-1{
    padding-bottom: 1rem;
}
.l-pb-2{
    padding-bottom: 1.25rem;
}
.l-pb-3{
    padding-bottom: 1.5rem;
}
.l-pb-4{
 padding-bottom: 2rem;
}
.l-pb-5{
 padding-bottom: 2.5rem;
}

/* padding left */
.l-pl-0{
    padding-left: 0;
}
.l-pl-1{
    padding-left: 1rem;
}
.l-pl-2{
    padding-left: 1.25rem;
}
.l-pl-3{
    padding-left: 1.5rem;
}
.l-pl-4{
 padding-left: 2rem;
}
.l-pl-5{
 padding-left: 2.5rem;
}

/* padding right */
.l-pr-0{
    padding-right: 0;
}
.l-pr-1{
    padding-right: 1rem;
}
.l-pr-2{
    padding-right: 1.25rem;
}
.l-pr-3{
    padding-right: 1.5rem;
}
.l-pr-4{
 padding-right: 2rem;
}
.l-pr-5{
 padding-right: 2.5rem;
}

/* padding left and right */
.l-px-0{
    padding-left: 0;
    padding-right: 0;
}
.l-px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.l-px-2{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.l-px-3{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.l-px-4{
    padding-left: 2rem;
    padding-right: 2rem;
}
.l-px-5{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
/* padding top and bottom */
.l-py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.l-py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.l-py-2{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.l-py-3{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.l-py-4{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.l-py-5{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Flexbox Layout */
.l-flex {
    display: flex;
  }
  
  .l-flex-column {
    flex-direction: column;
  }
  
  .l-flex-row {
    flex-direction: row;
  }
  
  .l-flex-wrap {
    flex-wrap: wrap;
  }
  
  .l-justify-center {
    justify-content: center;
  }
  
  .l-align-center {
    align-items: center;
  }
  
  /* CSS Grid Layout */
  .l-grid {
    display: grid;
  }
  
  .l-grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .l-grid-columns-3 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .l-grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
  }
  
  .l-grid-rows-3 {
    grid-template-rows: repeat(3, 1fr);
  }
  
  .l-gap-4 {
    gap: 4px;
  }
  
  .l-gap-8 {
    gap: 8px;
  }

  .layout-example {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.box {
    background-color:  var(--primary-text-color);
    color: #333;
    padding: 20px;
    margin: 2px;
    text-align: center;
}

.l-flex {
    display: flex;
}

.l-flex-column {
    flex-direction: column;
}

.l-flex-row {
    flex-direction: row;
}

.l-flex-wrap {
    flex-wrap: wrap;
}

.l-justify-center {
    justify-content: center;
}
.l-space-between{
    justify-content: space-between;
}

.l-align-center {
    display: flex; /* To apply align-items, ensure display:flex is set */
    align-items: center;
}

.l-grid {
    display: grid;
}

.l-grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.l-grid-columns-3 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.l-grid-rows-2 {
    grid-template-rows: repeat(2, 1fr);
}

.l-grid-rows-3 {
    grid-template-rows: repeat(3, 1fr);
}

.l-gap-4 {
    gap: 4px;
}

.l-gap-8 {
    gap: 8px;
}


/* outback nursary css */
  
/* nav bar css */
/* Basic styling */
.upper__header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:var(--accent-color); /* Change to your desired background color */
    color:var(--primary-text-color); /* Change to your desired text color */
    z-index: 1000; /* Ensure it stays on top */
}

.upper__header__marquee {
    display: flex;
    width: calc(100% + 1rem); /* Adding extra width to accommodate space between loops */
    animation: marquee 20s linear infinite;
}

.upper__header__text {
    flex-shrink: 0;
    padding-right: 1rem; /* Add space between the loops */
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}


.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1em;
}

.nav__brand, .nav__list, .nav__toggle {
    display: flex;
    align-items: center;
}

.nav__logo {
    text-decoration: none;
    font-size: 1.5em; }

.nav__link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__item {
    padding: 10px 15px; 
}

.nav__toggle {
    display: none; 
    cursor: pointer;
    padding: 10px 15px; 
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 600px;
}

.carousel__container {
    transition: transform 0.5s ease;
}

.carousel__slide {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.carousel__slide img {
    width: 100%;
    vertical-align: middle;
}

.carousel__caption {
    position: absolute;
    bottom:61%;
    padding: 90px;
   color:var(--primary-text-color);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 12px;
}
.caption__carousel{
  bottom:35%;
}
.carousel__caption__text  {
    position: absolute;
    bottom:42%;
    padding: 90px;
   color:var(--primary-text-color);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 12px;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color:var(--primary-text-color);
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    line-height: 40px;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
.carousel__pagination {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.carousel__pagination-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.carousel__pagination-dot.active {
    background-color: #717171;
}
.carousel__pagination-dot-1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.carousel__pagination-dot.active {
    background-color: #717171;
}


.c__grid {
    gap: 20px;
    padding: 20px;
}

/* Base styles for product cards */
.c__card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background: var(--primary-text-color);
}

.c__card__image-container {
    line-height: 0;
}

.c__card__image {
    width: 100%;
    height: auto;
    display: block;
}

.c__card__content {
    padding: 15px;
}
  

  .heading-center{
    text-align: center;
  }

  .btn__show-more-btn {
    padding: 10px 20px;
    font-size: 16px;
    color:var(--primary-text-color); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
  }
 
  /* styles for gift and certificates */
  .c__lists {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .c__lists__title {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .c__lists__subtitle {
    text-align: center;
    margin-bottom: 30px;
    

  }
  
  .c__lists__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .c__lists__step {
    align-items: flex-start;
    background:var(--primary-text-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
  }
  
  .c__lists__step:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  
  .c__lists__icon {
    font-size: 30px;
    color: var(--accent-color);
    margin-right: 20px;
  }
  
  .c__lists__info p {
    margin: 0;
  }
  
  .c__lists__link {
    color: var(--accent-color);
    text-decoration: underline;
  }
  
  .c__lists__link:hover {
    text-decoration: none;
  }
  
  .card__item {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
  }
  
  .card__item__container {
    justify-content: space-around;
    gap: 20px; 
  }
  
  .card__item__card {
    flex: 0 1 300px;
    background:var(--primary-text-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    padding: 20px;
  }
  
  .card__item__card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  
  .card__item__icon {
    font-size: 48px;
    color:var(--accent-color);
    margin-bottom: 20px;
  }
  
  .card__item__content {
    text-align: left;
  }
  
  .card__item__title {
    margin: 0 0 10px 0;
  }
  
  .card__item__content p {
    margin: 0;
  }
  /* Resources styling */
  .accordian {
    width: 60%;
    /* margin: 0 auto; */
    text-align: center;
  }
  
  .accordian__container {
    margin-top: 20px;
  }
  
  .accordian__item {
    background: var(--primary-text-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden; /* Ensures rounded corners */
  }
  
  .accordian__heading {
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--umber-color);
    color: var(--primary-text-color);
    border: none;
    width: 100%;
    cursor: pointer;
  }
  
  .accordian__icon {
    transition: transform 0.3s ease;
  }
  
  .acoordian__item.active .accordian__icon {
    transform: rotate(180deg);
  }
  
  .accordian__paragraph {
    display: none;
    padding: 20px;
    text-align: left;
    background:var(--primary-text-color);
  }
  /* about section */
   
  .about {
    padding: 18px 7%;
}
.about__image{
  margin-top: 24px;
} 
  
  .about__content {
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .about__text {
    width: 50%;
    padding-right: 20px;
  }
  
  .about__title {
    margin-bottom: 2rem;
    
  }
  
  .about__description {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
  
  .about__cta {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .about__cta:hover {
    background-color:var(--accent-color);
  }
  
  .about__image {
    width: 50%;
  }
  
  .about__image img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: for a softer look */
  }
  
  .custom__cards {
    padding: 4rem 0;
    text-align: center;
  }
  
  .custom__cards__container {
    max-width: 1200px;
    margin: 0 auto 58px;
    padding: 0 1rem;
  }
  
  .custom__cards__title {
    margin-bottom: 2rem;
  }
  
  .custom__cards__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0;
    list-style: none;
  }
  
  .custom__card {
    background:var(--primary-text-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom__card__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .custom__card__text {
    margin-bottom: 1.5rem;
    font-style: italic;
  }
  
  
  /* .contact {
    display: flex;
    align-items: center;
    justify-content: center;
   
  } */
  /* contact styling */
  .contact__container {
    /* display: flex; */
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: var(--white) !important;
    border-radius: 8px;
  }
  
  .contact__image-area {
    flex: 1;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .contact__image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .contact__form-area {
    flex: 1;
    padding: 2rem;
    background:var(--primary-text-color);
  }
  
  .contact__heading {
    
   
    margin-bottom: 1rem;
  }
  
  .contact__intro {
    margin-bottom: 2rem;
   
  }
  
  .contact__form {
    flex-direction: column;
  }
  
  .contact__label {
    margin-bottom: 0.5rem;
  }
  
  .contact__input,
  .contact__select,
  .contact__textarea {
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact__textarea {
    resize: vertical; /* Allows the textarea to be resized vertically */
  }
  
  .contact__submit {
    background-color: var(--accent-color);
    color:var(--primary-text-color);
    width: 21%;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .contact__submit:hover {
    background-color: var(--accent-color);
  }
  /* footer styling */
  .footer {
   
    color: var(--primary-text-color); 
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer__column--contact,
  .footer__column--info {
    max-width: 33%;
  }
  
  .footer__column--newsletter {
    max-width: 34%;
  }
  
  .footer__heading {
    margin-bottom: 20px;
  }
  
  .footer__text,
  .footer__link {
    margin-bottom: 10px;
    color: var(--primary-text-color); 
    text-decoration: none;
  }
  
  .footer__links {
    list-style: none;
    padding: 0;
  }
  
  .footer__links li + li {
    margin-top: 10px;
  }
  
  .footer__social-icons {
    /* Styles for social icons */
  }
  .footer__map-container {
    height: 200px;
    width: 100%; 
  }
  
  .footer__map {
    height: 100%; 
    width: 100%; 
  }
  .social__icon{
    font-size: 38px;
    border-radius: 9px;
    padding: 4px;
  }
  /* coming-soon page */
  .coming-soon {
    text-align: center;
    padding: 50px 0;
  }
  
  .coming-soon__container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .coming-soon__title {
    font-size: 36px;
  }
  
  .coming-soon__description {
    margin: 20px 0;
  }
  
  .coming-soon__form {
    margin-top: 30px;
  }
  
  .coming-soon__input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
/* Responsive styling */
@media (max-width: 768px) {
    .nav {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .nav__list {
        display: none;
        flex-direction: column; 
        width: 100%;
        padding: 0;
    }

    .nav__item {
        width: 100%; 
        text-align: center; 
        padding-left: 0;
    }

    .nav__toggle {
        display: block; 
        position: absolute; 
        top: 20px; 
        right: 10px; 
        font-size: 37px;
    padding: 8px;
    color: #fff;
    font-weight: bold;
        z-index: 2; 
    }

    .nav__brand {
        width: 100%; 
        padding: 10px 0;
    }
    .carousel__caption {
        padding: 51px;
    bottom: 26%;
    }

    .carousel-control-prev, .carousel-control-next {
        font-size: 20px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .carousel__caption h1, .carousel__caption h2 {
        font-size: calc(12px + 2vw); /* Adjust text size based on viewport width */
    }
    .custom__cards__grid {
        grid-template-columns: 1fr;
      }
      .c__grid {
        grid-template-columns: 1fr; /* Stacks the cards into one column */
         /* Adjust padding for smaller screens if necessary */
    }

    .card-section {
        /* Adjust card styling for smaller screens if necessary */
        margin-bottom: 20px; /* Adds space between stacked cards */
    }

    /* Adjust content padding if needed */
    .c__card__content {
        padding: 10px;
    }

    /* Adjust title and description size if needed */
    .c__card__title, 
    .c__card__description {
        font-size: calc(12px + 1vw); /* Example of responsive font sizing */
    }
    .footer {
        flex-direction: column;
        align-items: center;
      }
    
      .footer__column {
        max-width: 80%;
        align-items: center;
        margin-bottom: 30px;
      }
    
      .footer__newsletter-form {
        flex-direction: column;
      }
      .contact__container {
        flex-direction: column;
      }
    
      .contact__image-area {
        width: 100%;
        border-radius: 8px 8px 0 0;
      }
    
      .contact__form-area {
        width: 100%;
      }
      .about__content {
        flex-direction: column;
      }
    
      .about__text, .about__image {
        width: 100%;
      }
    
      .about__text {
        padding-right: 0;
        margin-bottom: 20px;
      }
      .c__lists__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.card__item__title {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 23px;
}
.about__title {
    margin-bottom: 1rem;
    font-size: 33px;
}
.about__description {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
 .custom__cards {
    text-align: center;
    padding-top:0;
  }
    }
    
@media (max-width: 480px) {
    .carousel__caption {
        padding: 10px;
        bottom: 40%; /* Adjust based on your needs */
    }

    .carousel-control-prev, .carousel-control-next {
        font-size: 15px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .carousel__caption h1, .carousel__caption h2 {
        font-size: calc(10px + 2vw); /* Even smaller text for very small devices */
    }
    .c__card__content {
        padding: 10px;
    }

.heading-center{
  padding: 19px 0 6px !important;
    font-size: 31px !important;
    text-align: center;
}
.c__grid{
  padding-bottom: 0;
}
    .card-section__show-more-btn {
        padding: 8px 16px;
        
    }
    .c__lists__title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 19px;
}
.card__item__title {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 23px;
}
.c__card__title{
  margin-bottom: 9px;
    font-size: 19px;
}
.c__card__description{
  font-size: 15px;
    margin-bottom: 5px;
}
.btn__show-more{
  padding-top: 23px;
}
.card-section{
  margin-bottom: 0;
  margin-top: 0;
}
.accordian__title{
  font-size: 18px;
    padding-top: 13px;
}
.about__title {
    margin-bottom: 1rem;
    font-size: 33px;
}
.about__description {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
 .custom__cards {
    text-align: center;

  }
  .custom__cards {
    text-align: center;
    padding-top:0;
  }
  .heading__contact{
    padding: 32px !important;
  }
}

@media (min-width: 1140px) {
    .nav {
    
        /* display: flex; */
        justify-content: space-between;
        /* align-items: center; */
        padding: 1em 2em;
        position: fixed;
    top: 20px;
    width: 100%;
    z-index: 999;
    }
    .card-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 83% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

  /* Base (Mobile First) */
.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl, .container-fluid {
    width: 100%;
}

/* Small devices (>= 576px) */
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 890px;
    }
}
/* Large devices (>= 992px) */
@media (min-width: 992px) {
    .container, .container-lg {
        max-width: 1094px;
    }
}
/* X-Large devices (>= 1200px) */
@media (min-width: 1200px) {
    .container, .container-xl {
        max-width: 1296px;
    }
}
/* XX-Large devices (>= 1400px) */
@media (min-width: 1400px) {
    .container, .container-xxl {
        max-width: 1556px;
    }
}
/* css reset */
*{
    box-sizing: border-box;
}
/* Reset margins for specific elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
    margin: 0;
}
body{
    line-height: 1.25rem;
}

/* Remove padding from lists */
ul,
ol,
li
 {
  padding: 0;
  list-style: none;
}
* {
    box-sizing: border-box;
}
