/* variables */
/* css reset */
*{
    box-sizing: border-box;
}
/* Reset margins for specific elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
    margin: 0;
}

/* Remove padding from lists */
ul,
ol,
li
 {
  padding: 0;
  
}
:root {
    --primary-text-color: #ffffff; 
    --primary-bg-color: #e2e0d9; /* Alabaster */
    --accent-color: #FF7F50; /* Coral */
    --active-color: #ff4404 !important;
}
.text-umber { color: #635147; }
.bg-umber { background-color: #635147; }
.text-alabaster { color: #FAF9F6; }
.bg-alabaster { background-color: #e2e0d9; }
.text-coral { color: #FF7F50; }
.bg-coral { background-color: #FF7F50; }

/* typography */

:root{
    /* font-families */
    --heading-font:"Cormorant Garamond", serif;
    --body-font:"Roboto", sans-serif;
}
:root{
    /* font-sizes */
    --heading-1:32px;
    --heading-2:22px;
    --heading-3:12px;
    --body-text:16px;
}
:root{
    /* font-weights */
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-700:700;
}
:root{
    /* line-heights */
    --heading-line-height:1.2;
    --body-line-height:1.4;
}
:root{
    --heading-letter-spacing:0.02em;
    --body-letter-spaing:0.002em;
}
/* utility classes */
/* font-families */
.u-ff-heading{
    font-family:var(--heading-font) ;
}
.u-ff-body{
    font-family: var(--body-font);
}
/* font-sizes */
h1{
    font-size: var( --heading-1);
}
h2{
    font-size: var(--heading-2);
}
h3{
    font-size: var(--heading-3);
}
p{
    font-size: var(--body-text);
}
/* font-weights */
.u-fw-200{font-weight: var(--fw-200);}
.u-fw-300{font-weight: var(--fw-300);}
.u-fw-400{font-weight: var(--fw-400);}
.u-fw-500{font-weight: var(--fw-500);}
.u-fw-700{font-weight: var(--fw-700);}
/* line height */
.u-lh{
    line-height: var(--heading-line-height);
}
.u-lb{
    line-height: var(--body-line-height);
}
/* letter spacing */
.u-lhs{
    letter-spacing: var(--heading-letter-spacing);
}
u.hbs{
    letter-spacing: var(--body-letter-spaing);
}